
POSTGRES_DB_HOST=
POSTGRES_DB_PORT=
POSTGRES_DB_USERNAME=
POSTGRES_DB_PASSWORD=
POSTGRES_DB_DATABASE=
POSTGRES_DB_CONTAINER_NAME=

# Claves de acceso (cámbialas en producción)
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# Configuración de la instancia
MINIO_ENDPOINT=
MINIO_BUCKET=

# Configuración del contenedor Docker
MINIO_CONTAINER_NAME=
MINIO_PORTS_DB=
MINIO_PORTS_INTERFACE=

JWT_SECRET=

CORS_ORIGIN=

NETWORK=